<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test.vko.cn.ttapplication" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TTapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup" >
        <activity
            android:name=".activitys.ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".activitys.MainActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activitys.NavigationActivity"
            android:theme="@style/Theme.DesignDemo" />
        <activity
            android:name=".activitys.CoordinatorActivity"
            android:label="@string/title_activity_coordinator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.LoadingOfSouGouActivity" />
        <activity android:name=".activitys.GifTestActivity" />
        <activity android:name=".activitys.BaseActivity" />
        <activity android:name=".activitys.StarActivity" />
        <activity android:name=".activitys.ABCD" />
        <activity android:name=".activitys.TreeIconLineActivity" />
        <activity android:name=".activitys.RecycleViewActivity" />
        <activity android:name=".activitys.ShapeDrawableActivity" />
        <activity android:name=".activitys.im.ImHomeActivity" />

        <!-- 环信################################################## -->
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="androidhelper#androidhelper" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- 环信################################################## -->

        <activity android:name=".activitys.AVLoadingIndicatorViewActivity" />
        <activity android:name=".activitys.ObserverActivity" />
        <activity android:name=".activitys.CanvasTestActivity" />
        <activity android:name=".activitys.BenzierActivity" />
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
        <activity android:name=".activitys.ShipMoveActivity" >
        </activity>
    </application>

</manifest>
